<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.ow2.aspirerfid.ide.aleserverconfigurator.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.ow2.aspirerfid.ide.aleserverconfigurator.application.Perspective"
            id="aspireRfidIde_AleServerConfigurator_Plug_in.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ow2.aspirerfid.ide.aleserverconfigurator.views.AleServerConfiguratorView"
            icon="icons/alt_window_16.gif"
            id="org.ow2.aspirerfid.ide.aleserverconfigurator.views.AleServerConfiguratorView"
            name="AleServerConfiguratorView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.ow2.aspirerfid.ide.aleserverconfigurator.handlers.OpenAleServerConfiguratorHandler"
            description="Open Ale Server Configurator"
            id="org.ow2.aspirerfid.ide.aleserverconfigurator.openaleserverconfigurator.command"
            name="Ale Server Configurator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.ow2.aspirerfid.ide.aleserverconfigurator.views.AleServerConfiguratorView">
         <command
               commandId="org.ow2.aspirerfid.ide.aleserverconfigurator.openaleserverconfigurator.command"
               icon="icons/alt_window_16.gif"
               label="Open Ale Server Configurator"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.ow2.aspirerfid.ide.aleserverconfigurator.main.toolbar">
            <command
                  commandId="org.ow2.aspirerfid.ide.aleserverconfigurator.openaleserverconfigurator.command"
                  icon="icons/alt_window_16.gif"
                  label="Open Ale Server Configurator"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.ow2.aspirerfid.ide.main.windowmenu.showviewmenu">
         <command
               commandId="org.ow2.aspirerfid.ide.aleserverconfigurator.openaleserverconfigurator.command"
               label="Ale Server Configurator"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.ow2.aspirerfid.ide.aleserverconfigurator.preferences.AleServerConfiguratorPreferencePage"
            id="org.ow2.aspirerfid.ide.aleserverconfigurator.preferences.AleServerConfiguratorPreferencePage"
            name="Ale Server Configurator">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ow2.aspirerfid.ide.aleserverconfigurator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
